* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* LETTERTYPES */

/* Marine Regular 
font-family: "marine", sans-serif;
font-weight: 400;
font-style: normal; */

/* Margine Light 
font-family: marine, sans-serif;
font-weight: 300;
font-style: normal; */

/* Marine Bold
font-family: marine, sans-serif;
font-weight: 700;
font-style: normal; */


/* KLEUREN */
/* Lighte Text op donkere achtergronden : #E5F9E0; */
/* Donkere Kleuren Op lighte achtergronden : #30292F; */
/* Body achterground kleur : #EAF4F4; */

/* @media only screen and (max-width: 1920px) { */


/* containers  */
.container {
    width:80%;
    margin:0 auto;
}
body {
    background-color: #EAF4F4;
}

/* Dit deel css is voor de Header */
    header {
        display: flex;
        justify-content: center;
    }
    .staticheader{
        background-color:red;
        width:50vw;
        height:4rem;
        border-radius:1.8rem;
        margin:0.5rem auto;
        position:fixed;
        
    }
    .headercontainer {
        display:flex;
        justify-content: center;
        align-items:center;
        height:4rem;
    }    
    .headeritem {
        background:none;
        border:none;
        display: inline-block;
        font-family:marine, sans-serif;
        font-weight:700;
        font-style:normal;
        font-size:1.5em;
        padding-left:1.8rem;
        padding-right:1.8rem;
    }

/* Dit deel css is voor de Home Page */

    .home {
        height:53.125rem;
        margin:0 auto;
    }
    h1 {
        font-family: marine, sans-serif;
        font-weight:700;
        font-style:normal;
        font-size:5rem;
    }
    .bodytext{
        font-family:marine,sans-serif;
        font-weight: 400;
        font-style:normal;
        font-size:1.5rem;
    }
    .homecontent{
        padding-top:21.875rem;
        text-align: center;
    }


/* Dit deel css is voor de section about */

    .about {
        height:63em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aboutme {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1.5rem;
        background-color: #FFFFFF;
        height:35rem;
        border-radius:5rem;
    }
    .middle {
        width:1rem;
        background-color: red;
        height: 45rem;
        margin:0 auto;
    }
    .info {
        width: 50%;
    }
    .naam {
        font-family:marine,sans-serif;
        font-weight:700;
        font-style:normal;
        font-size:2.3rem;
    }
    .overigeinfo {
        padding-top:3rem;
    }
    .titles {
        font-family:marine,sans-serif;
        font-weight:600;
        font-style:normal;
        font-size:1.8rem;
    }
    .leeftijd,
    .woonplaats,
    .huidigestudie,
    .anderestudies {
        margin-top:0.5rem;
        margin-bottom: 0.5rem;
    }
/* dit deel in de css is voor vaardigheden */
    .vaardigheden {
    height:30rem;
    }
    .skillstitle {
        font-family:marine,sans-serif;
        font-weight:700;
        font-style:normal;
        font-size:2.3rem;
        text-align: center; 
        margin-bottom:1.8rem;
        padding-top:2rem;   
    }
    .skills {
        background-color: #FFFFFF;
        height:24rem;
        border-radius: 3rem;
    }
    .skill-cards {
        display: flex;
        justify-content: center;
        gap:2rem;
    }
/* cards */
    .cards {
        background-color: #EAF4F4;
        height:13rem;
        width: 10.5rem;
        border-radius: 1.75rem;
        padding-top:1rem;
    }
    .icontext {
        color:white;
        font-family:marine,sans-serif;
        font-weight:600;
        font-style:normal;
        font-size:2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blue;
        height:5rem;
        width:5rem;
        border-radius:50%;
        margin:0 auto;
    }
    .skillnaam {
        color:black;
        font-family:marine,sans-serif;
        font-weight:600;
        font-style:normal;
        font-size:1.2rem;
        text-align: center;
        margin-top:1.2rem;     
    }
    .skillniveau {
        color:black;
        font-family:marine,sans-serif;
        font-weight:600;
        font-style:normal;
        font-size:1.2rem;
        text-align: center;
        margin-top:0.15rem         
    }
    .skill-time {
        color:gray;
        font-family:marine,sans-serif;
        font-weight:600;
        font-style:normal;
        font-size:1rem;
        text-align: center;
        margin-top: 0.4rem;         
    }

/* dit deel is voor portfolio */
    .portfolio {
        height:300rem;
    }
    .chemelot {
        width:80%;
        background-color: #FFFFFF;
        margin:0 auto;
        padding:3%;
        border-radius: 50px;
        margin-bottom:10%
    }
    .chemelot-titel,
    .sign-titel {
        font-family:marine,sans-serif;
        font-weight:700;
        font-style:normal;
        font-size:2.3rem;
        text-align: center;
        margin-bottom:5%;        
    }
    .portfolio-title{
        font-family:marine,sans-serif;
        font-weight:700;
        font-style:normal;
        font-size:2.3rem;
        text-align: center; 
        margin-bottom:3%;
    }
    .logo-container {
        width:20%;
        height:20%;
    }
    .logo {
        display:flex;
        justify-content: center;
        gap:3%;
    }
    .visitekaartje {
        display: flex;
        justify-content: center;
        padding:2% 0%;
    }
    .abriposter-container {
        max-width:25%;
        margin:0 auto;
    }
    .abrioster {
        width:100%;
    }
    .visitekaartje-container {
        max-width:30%;
    }
    .visitekaartje {
        width:100%;
    }
    .sign-opdrachten {
        display: flex;
        justify-content: center;
        gap: 1%;
    }
    .sign-foto {
        max-width:25%;
    }
    .foto-sign {
        width:80%;
    }
    .sign-bestanden {
        max-width: 80%;
        margin:0 auto;
    }
    .sign{
        width:80%;
        background-color: #FFFFFF;
        margin:0 auto;
        padding:3%;
        border-radius: 50px;
        margin-bottom:10%
    }
    

/* } */
